/**
 * Buttons
 */
a,
div,
span,
button {
    &.btn-bitbucket {
        color: white;
        background-color: #274970;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #192f48;
        }
    }

    &.btn-facebook {
        color: white;
        background-color: #3b5998;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #263961;
        }
    }

    &.btn-google {
        color: white;
        background-color: #d34836;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #872e23;
        }
    }

    &.btn-github {
        color: white;
        background-color: #464646;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #2d2d2d;
        }
    }

    &.btn-linkedin {
        color: white;
        background-color: #0077b5;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #004c74;
        }
    }

    &.btn-twitter {
        color: white;
        background-color: #1dcaff;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #1381a3;
        }
    }

    &.btn-apple {
        color: white;
        background-color: #161612;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #131310;
        }
    }

    &.btn-plurk {
        color: white;
        background-color: #ff4e47;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #a3322e;
        }
    }

    &.btn-tumblr {
        color: white;
        background-color: #34526f;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #294158;
        }
    }

    &.btn-telegram {
        color: white;
        background-color: #0088cc;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #006ca3;
        }
    }

    &.btn-discord {
        color: white;
        background-color: #5866ef;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background-color: #9b84ec;
        }
    }

    &.btn-instagram {
        color: white;
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background: linear-gradient(45deg, #e47e11 0%, #d94e1c 25%, #dc2743 50%, #c11f38 75%, #a21576 100%);
        }
    }

    &.btn-line {
        color: white;
        background: #06c755;

        &:hover,
        &:active,
        &:focus {
            color: darkgrey;
            background: #06b24d;
        }
    }
}
